<div class="row col-md-8 col-md-offset-2">
  <h3>Listing Groups</h3>
  <div class="panel panel-default">
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Children</th>
          <th>Filter?</th>
          <th>Visible?</th>
          <th>Main?</th>
        </tr>
      </thead>

      <tbody>
      <% @groups.each do |group| %>
        <tr>
          <td><%=group.name%></td>
          <td><%=children_names(group)%></td>
          <td><%=group.filter?%></td>
          <td><%=group.visible?%></td>
          <td>
            <%=group.main?%>
            <%= link_to '&times;'.html_safe, group, class: 'close', method: :delete %>
            <%= link_to edit_group_path(group), class: 'pull-right', style: 'margin-right: 5px;' do %>
              <span class="glyphicon glyphicon-pencil"></span>
            <% end %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <%= link_to new_group_path, class: 'btn btn-default' do %>
    New Group <span class="glyphicon glyphicon-plus"></span>
  <% end %>
</div>