<tbody>
  <%@list.each_slice(5).each do |list|%>
    <tr>
      <%list.each do |item|%>
        <td colspan="<%=item == @list.last ? 5 : nil%>"><span class="cen-item cen-<%=item[:type]%>"><%=item[:name]%></span></td>
      <%end%>
    </tr>
  <%end%>
</tbody>
<script>
$('span.cen-directory').click(function() {
  text = $(this).text();
  full_dir = '<%=@new_dir%>/'+text;
  $('#directories').load('/resources/new?dir='+full_dir);
});
$('span.cen-file').click(function() {
  $('.cen-file').removeClass('highlight');
  $(this).addClass('highlight');
  text = $(this).text();
  full_dir = '<%=@new_dir%>'+text;
  $('#resource_address').val(full_dir);
  $('#resource_location2').val(full_dir);
});
$(function() {
  $('#current_directory').text('<%=@new_dir%>');
});
</script>
