<tr>
	<td>Current directory: <strong id="current_directory"><%=@new_dir%></strong></td>
</tr>
<%@list.each do |item|%>
<tr>
	<td><span class="cen-item cen-<%=item[:type]%>"><%=item[:name]%></span></td>
</tr>
<%end%>
<script>
$('span.cen-directory').click(function() {
  text = $(this).text();
  full_dir = '<%=@new_dir%>/'+text;
  $('#directories').load('/resources/new?dir='+full_dir);
});
$('span.cen-file').click(function() {
  $('.cen-file').removeClass('highlight');
  $(this).addClass('highlight');
  text = $(this).text();
  full_dir = '<%=@new_dir%>'+text;
  $('#cenfile_address').val(full_dir);
  $('#cenfile_location2').val(full_dir);
});
</script>
