<p id="notice"><%= notice %></p>
<%= render partial: 'destroy_modal' %>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <h4 class="cen-nav-header">
              <%= link_to 'Groups', groups_path %>
              <%= filter_select(@filters, params[:filter]) %>
            </h4>
            <ul id="group_nav" class="nav nav-pills">
              <%@groups.each do |group|%>
                <li id="groups_<%="#{group.id}"%>"><a><%=group.name.titleize%></a></li>
              <%end%>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <h4>Types</h4>
            <ul id="type_nav" class="nav nav-pills">
              <li id="type_image"><a>Images</a></li>
              <li id="type_gif"><a>Gifs</a></li>
              <li id="type_video"><a>Video</a></li>
            </ul>
          </div>
          <div class="col-md-4">
            <h4>Controls</h4>
            <ul id="control_nav" class="nav nav-pills">
              <li id="controls_shuffle"><a>Shuffle</a></li>
              <li id="controls_group_filter"><a>Group Filter</a></li>
              <li id="controls_union"><a>Union Filter</a></li>
              <li id="controls_children"><a>Include Children</a></li>
            </ul>
          </div>
          <div class="col-md-2">
            <h4>Page Size</h4>
            <ul id="page_size_nav" class="nav nav-pills">
              <li id="page_size_10"><a>10</a></li>
              <li id="page_size_25"><a>25</a></li>
              <li id="page_size_all"><a>All</a></li>
            </ul>
          </div>
          <div class="col-md-4">
            <h4>Actions</h4>
            <%= toggle_groups_button(cookies[:toggle_groups] == 'true' ? true : false) %>
            <%= link_to new_resource_path, class: 'btn btn-default' do %>
              New Resource  <span class="glyphicon glyphicon-plus"></span>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% @resources.each do |resource| %>
  <div class="row">
    <div class="col-md-12">
      <%= link_to resource do %>
        <% if resource.type == 'video' %>
          <video class="resource-content" src="<%=resource.location%>" muted=""  autoplay="" loop="" controls="">
          </video>
        <% elsif resource.type == 'octet-stream' %>
          <video class="resource-content" src="<%=resource.location%>" autoplay="" loop="" controls="">
          </video>
        <% elsif resource.type == 'swf' %>
          <embed class="resource-content" src="<%=resource.location%>">
        <% else %>
          <%= image_tag resource.location, lazy: true, class: 'resource-content' %>
        <% end %>
      <% end %>
      <form id="form-<%=resource.id%>" class="resource-group-form">
        <a data-href="<%=resource_path(resource)%>" class="resource-close close">&times;</a>
        <%@main_groups.each do |group|%>
          <label class="checkbox-inline">
            <%=check_box_tag('resource[group_id]', group.name, resource.group_ids.include?(group.id), id: "group-#{group.id}-#{resource.id}",
               onclick: "update_group(this.checked, #{resource.id}, #{group.id})")%><%=group.name.titleize%>
          </label>
        <%end%>
      </form>
    </div>
  </div>
<% end %>
<div class="row">
  <div class="col-md-6">
    <a class="btn btn-default cen-back-to-top" href="#brand">Back to Top</a>
  </div>
  <div class="col-md-6">
    <%= will_paginate @resources, renderer: BootstrapPagination::Rails, class: 'pull-right' %>
  </div>
</div>
<script>
  function check_nav() {
    $('.nav li').removeClass('active');
    <% params.select{|k,_| %w(groups type controls page_size).include?(k)}.each do |key, value| %>
      <% case key %>
        <% when 'groups', 'controls' %>
          <% value.each do |val| %>
            $('#<%=key%>_<%=val%>').addClass('active');
          <% end %>
        <% else %>
          $('#<%=key%>_<%=value%>').addClass('active');
      <% end %>
    <% end %>
  }

  function set_group_forms(toggle) {
    toggle ? $('.resource-group-form').show() : $('.resource-group-form').hide();
  }

  function set_query_string() {
    var group_filter = $("#group_nav.nav-pills li.active"),
      type_filter = $("#type_nav.nav-pills li.active"),
      control_filter = $("#control_nav.nav-pills li.active"),
      page_size_nav = $("#page_size_nav.nav-pills li.active"),
      groups = [],
      controls = [],
      filter = ['filter='+$('#filter-select').val()];

    for(var i=0; i < group_filter.length; i++ ) {
      groups[i] = 'groups[]='+group_filter[i].id.replace('groups_', '');
    }
    for(i=0; i < control_filter.length; i++ ) {
      controls[i] = 'controls[]='+control_filter[i].id.replace('controls_', '');
    }
    var type = type_filter.first().attr('id') ? 'type='+type_filter.first().attr('id').replace('type_', '') : [];
    var page_size = page_size_nav.first().attr('id') ? 'page_size='+page_size_nav.first().attr('id').replace('page_size_', '') : [];
    var query = groups.concat(type, controls, page_size, filter);
    window.location.search = '?'+query.join('&');
  }

  $('#toggle-groups').click(function() {
    $('.resource-group-form').toggle();
    $.ajax({
      url: "<%=toggle_groups_path%>",
      type: "GET",
      dataType: "html"
    });
  });

  $(".nav-pills li").click(function() {
    var id  = $(this).attr('id');

    if((/type/g).test(id) && !$(this).hasClass('active')) {
      $('#type_nav li').removeClass('active');
    }
    if((/page_size/g).test(id) && !$(this).hasClass('active')) {
      $('#page_size_nav li').removeClass('active');
    }
    $(this).toggleClass('active');

    set_query_string();
  });

  $(function() {
    check_nav();
    set_group_forms(<%= cookies[:toggle_groups] == 'true' ? true : false %>);
  });
</script>
