<%if @resource.type == 'video'%>
  <video class="resource-content" src="<%=@resource.location%>" autoplay="" loop="" controls="">
  </video>
<%elsif @resource.type == 'octet-stream'%>
  <video class="resource-content" src="<%=@resource.location%>" autoplay="" loop="" controls="">
  </video>
<%elsif @resource.type == 'swf'%>
  <embed class="resource-content" src="<%=r@esource.location%>">
<%else%>
  <%= image_tag @resource.location, class: 'resource-content' %>
<%end%>
<form id="form-<%=@resource.id%>" class="resource-form">
  <a data-href="<%=resource_path(@resource)%>" class="resource-close close">&times;</a>
  <%@main_groups.each do |group|%>
    <label class="checkbox-inline">
      <input id="group-<%=group.id%>-<%=@resource.id%>" onclick="checkClick(this.checked, <%=@resource.id%>, <%=group.id%>)" type="checkbox" value="<%=group.name%>" <%= @resource.groups.member?(group) ? 'checked="true"' : ''%>> <%=group.name%>
    </label>
  <%end%>
</form>
<%= link_to 'Back', resources_path, class: 'btn btn-default' %>